{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="blockPage">
        <div class="shopUserView">
            <h1>Achetez des pates !</h1>

            <section class="categories">
            {% for category in categories %}
                <h2>{{ category.name }}</h2>
                <section class="products">
                    {% for product in products %}
                        <article class="card produit">
                            <a href="{{ path('app_product_show', {'id': product.id}) }}">
                                {% for picture in product.gallery %}
                                    {% if picture == product.gallery.first %}
                                        <img src="{{ asset ('uploads/images_directory/'~picture.picture) }}" class="card-img" alt="{{ product.name }}">
                                    {% endif %}
                                    {% else %}
                                        <i class="fa-solid fa-camera"></i>
                                {% endfor %}
                                <div class="card-img-overlay">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <p class="card-text">{{ product.price }}€</p>
                                </div>
                            </a>
                        </article>
                    {% else %}
                        <p>aucun objet trouvé</p>
                    {% endfor %}
                    </section>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
